In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

from pathlib import Path
from sqlalchemy import create_engine, inspect, func
import pandas as pd

database_path = Path("../data/reduced_data.sqlite")

In [2]:
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [3]:
Base = automap_base()
Base.prepare(autoload_with=engine)
Base.classes.keys()

['reduced_data']

In [4]:
inspector = inspect(engine)
inspector.get_table_names()

['reduced_data']

In [5]:
# Get a list of column names and types
columns = inspector.get_columns('reduced_data')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
Title VARCHAR
AddressLine1 VARCHAR
Town VARCHAR
StateOrProvince VARCHAR
Postcode VARCHAR
Latitude FLOAT
Longitude FLOAT
ConnectionTypeIDs VARCHAR
PowerKWs VARCHAR
CurrentTypeIDs VARCHAR
OperatorID INTEGER
UsageTypeID INTEGER
UsageCost VARCHAR
NumberOfPoints INTEGER
StatusTypeID INTEGER
LUnknownCount INTEGER
L1Count INTEGER
L2Count INTEGER
L3Count INTEGER
AddressLine2 VARCHAR
DatePlanned VARCHAR

In [6]:
reduced_data = pd.read_sql("SELECT * FROM reduced_data", conn)

In [7]:
reduced_data.head()

,id,Title,AddressLine1,Town,StateOrProvince,Postcode,Latitude,Longitude,ConnectionTypeIDs,PowerKWs,...,UsageTypeID,UsageCost,NumberOfPoints,StatusTypeID,LUnknownCount,L1Count,L2Count,L3Count,AddressLine2,DatePlanned
0,1,Walker Street,6 Walker Street,Lenox,MA,01242,42.356323,-73.285101,"[1, 1]","[6.3, 6.3]",...,1,Free,2,50,0,0,2,0,None,None
1,2,Range USA,660 James L Hart Parkway,Ypsilanti Charter Township,MI,48197,42.226131,-83.622834,"[32, 2]","[50.0, 400.0]",...,1,$2 + $0.35 kWh,2,50,0,0,0,2,None,None
2,3,Irving Oil / Circle K,206 Center Road,Fairfield,ME,04937,44.594865,-69.617167,"[32, 32]","[120.0, 120.0]",...,4,$0.45 per kWH,2,50,0,0,0,2,None,None
3,4,EVB N Lot,1201 Village Road,Dearborn,MI,48126,42.300885,-83.230529,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....",...,6,Free,14,100,14,0,0,0,None,None
4,5,Carroll Shelby Way East,Carroll Shelby Way East,Dearborn,MI,48124,42.297993,-83.230880,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...","[-1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1.0, -1....",...,6,Free,20,100,20,0,0,0,None,None

In [8]:
conn.close()

In [9]:
engine.dispose()